#### JAVA
sun-java5-bin	shared/accepted-sun-dlj-v1-1	boolean	true
sun-java5-jdk	shared/accepted-sun-dlj-v1-1	boolean	true
sun-java5-jre	shared/accepted-sun-dlj-v1-1	boolean	true
sun-java6-bin	shared/accepted-sun-dlj-v1-1	boolean	true
sun-java6-jdk	shared/accepted-sun-dlj-v1-1	boolean	true
sun-java6-jre	shared/accepted-sun-dlj-v1-1	boolean	true

#### KERBEROS
krb5-admin-server krb5-admin-server/newrealm note ignore

#### LDAP-AUTH-CONFIG
# Settings for LDAP authentication
ldap-auth-config ldap-auth-config/override boolean false
ldap-auth-config ldap-auth-config/ldapns/base-dn string dc=ma5,dc=lliurex,dc=net
ldap-auth-config ldap-auth-config/ldapns/ldap_version select 3
ldap-auth-config ldap-auth-config/dbrootlogin boolean true
ldap-auth-config ldap-auth-config/dblogin boolean false
ldap-auth-config ldap-auth-config/rootbinddn string cn=admin,dc=ma5,dc=lliurex,dc=net
ldap-auth-config ldap-auth-config/rootbindpw password lliurex

#### MOODLE
moodle moodle/db_postgres_create boolean false
moodle moodle/webserver select apache2
moodle moodle/db_server select mysql-server
moodle moodle/db_host string localhost
moodle moodle/dba_name string root
moodle moodle/dba_password password lliurex
moodle moodle/dba_confirm password lliurex
moodle moodle/dbu_name string moodle
moodle moodle/dbu_password password moodle
moodle moodle/dbu_confirm password moodle
moodle moodle/create_tables note ignore

# JAVA
oracle-java6-installer	shared/accepted-oracle-license-v1-1	boolean	true
oracle-java7-installer	shared/accepted-oracle-license-v1-1	boolean	true
oracle-java8-installer	shared/accepted-oracle-license-v1-1	boolean	true

## ACROREAD 
acroread acroread/default-viewer boolean true

# TTF Mscorefonts
ttf-mscorefonts-installer	msttcorefonts/accepted-mscorefonts-eula	boolean	true
ttf-mscorefonts-installer	msttcorefonts/present-mscorefonts-eula	note	
ttf-mscorefonts-installer	msttcorefonts/http_proxy	string	http://proxy:3128
ttf-mscorefonts-installer	msttcorefonts/error-mscorefonts-eula	error	
ttf-mscorefonts-installer	msttcorefonts/dlurl	string	
ttf-mscorefonts-installer	msttcorefonts/savedir	string	
ttf-mscorefonts-installer	msttcorefonts/baddldir	error	
ttf-mscorefonts-installer	msttcorefonts/dldir	string

# PRESEED FOR LTSP
nbd-client    nbd-client/killall    boolean    false
nbd-client    nbd-client/device    string   
nbd-client    nbd-client/number    string    0
nbd-client    nbd-client/no-auto-config    error   
nbd-client    nbd-client/host    string   
nbd-client    nbd-client/port    string   
nbd-client    nbd-client/type    select    raw
nbd-client    nbd-client/extra    string    

#Final command
d-i preseed/late_command string chroot /target final-d-i-installation ; chroot /target /usr/sbin/dpkg-reconfigure lliurex-grub-custom
#; busybox poweroff

#reboot options
##d-i debian-installer/exit/poweroff boolean true 
##d-i debian-installer/exit/halt boolean true
d-i	preseed/include string unattended.cfg
